.loading-box {
    background-color: #f0f0f0;
    width: 100%;
    height: 44px;
    animation: pulse 1s infinite;
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: flex-end;
    vertical-align: bottom;
}
@keyframes pulse {
    0% {
        background-color: #f0f0f0;
    }
    50% {
        background-color: #d0d0d0;
    }
    100% {
        background-color: #f0f0f0;
    }
}

table {
    border-collapse: separate !important; /* Ensures that border-spacing property is applied */
    border: black solid 1px;
    border-radius: 5px;
    border-spacing: 0;
}

table.dataTable th, table.dataTable td, table.dataTable tr,table.dataTable thead {

}

table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

table.dataTable thead {
    height: 2.3em !important;
    border: 4px !important;
}

/* Highlight row on hover */
table.dataTable tbody tr:hover {
    background-color: #f8f8f8 !important; /* Change to your desired hover color */
}


.fixed-width-table {
    width: 1000px !important; /* Adjust this width to match the total of column widths */
    table-layout: fixed;
    margin: 0 !important; /* Prevent table from being centered */
}

.dt-container {
    margin-left: 0 !important;
    margin-right: auto !important;
}

.mt-2 {
    margin-top: 0 !important;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Buttons */
button {
  padding: 10px 14px;
  margin-left: 4px;
    margin-right: 4px;
  border: none;
  background-color: #4CAF50; /* Green */
  color: white;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
  display: inline-block;
  height: 44px;
}

button#yesBtn {
  background-color: #f44336; /* Red */
  display: inline-block;
  margin: 10px;

}

button#noBtn {
  background-color: #146c43; /* Green */
  display: inline-block;
  margin: 10px;
}

button.button_delete {
  background-color: firebrick;
}

button.button_copy {
  background-color: #032830;
}

button.button_edit {
  background-color: #0143a3;
}

button.button_view {
  background-color: #052c65;
}

button:hover {
  opacity: 1;
}
