<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo"><img src="{{ url_for('static', filename='logo_128.png') }}" style="width: 64px"></a>
            <div class="nav-links">
                <a href="{{ url_for('profile') }}">Walls</a>
                <a href="{{ url_for('profile') }}">Stats</a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© {{ current_year }} MyApp. All rights reserved.</p>
    </footer>
</body>
</html>
