{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero">

        <a href="{{ url_for('stats_image', athlete_id='711108', guid='ae370ca9e79911ef959dbee291350640') }}">View Stats Image</a><br>
        <a href="{{ url_for('stats_html', guid='ae370ca9e79911ef959dbee291350640') }}">Stats html</a><br>

        {{ user }}

        <a href="{{ url_for('authorize_strava') }}">Authorize Strava</a><br>
        <a href="{{ url_for('profile') }}">Profile</a><br>
        <a href="{{ url_for('user_strawall_list') }}">Your strawalls</a><br>
        <a href="{{ url_for('activities_js') }}">List activities</a><br>
        <a href="{{ url_for('refresh_activities_page') }}">Refresh Activities</a><br>

    <form action="/login" method="post" class="form-container">
        <input type="submit" value="Login">
    </form>

    </section>
{% endblock %}
