<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Athlete Stats</title>
</head>
<body>
    <h1>Athlete Details</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <td>{{ athlete.firstname }} {{ athlete.lastname }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ athlete.city }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ athlete.state }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ athlete.country }}</td>
        </tr>
    </table>

    <h1>Set Strawall goals</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Plan</th>
                <th>Current</th>
            </tr>
        </thead>
        <tbody>
            {% for goal_id, detail in goals.items() %}
            <tr>
                <td>{{ detail.name }}</td>
                <td>{{ detail.plan }}</td>
                <td>{{ detail.stat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>
