<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Strawalls</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">
    <script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/2e8577682b.js" crossorigin="anonymous"></script>
</head>
<body>
<h1>Your Strawalls</h1>

<!-- The Modal -->
<div id="deleteModal" class="modal">

  <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Do you want to delete <span id="itemName"></span>?</p>
        <div style="text-align: center">
            <button id="yesBtn"><i class="fa-solid fa-check"></i> Yes</button>
            <button id="noBtn"><i class="fa-solid fa-xmark"></i> No</button>
        </div>
    </div>

</div>

<table id="strawalls" class="display fixed-width-table">
    <thead class="thead">
        <tr>
            <th style="width: 250px">Name</th>
            <th style="width: 80px">Width</th>
            <th style="width: 80px">Height</th>
            <th style="width: 490px">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr id="loading">
            <td><div class="loading-box" ></div></td>
            <td><div class="loading-box" ></div></td>
            <td><div class="loading-box" ></div></td>
            <td><div class="loading-box" ></div></td>
        </tr>
    </tbody>
</table>

<script>
    $(document).ready(function() {

        var athlete_id = '{{ athlete_id }}'
        var table = new DataTable('#strawalls', {
            ajax: {
                url: '/api/strawalls.json',
                dataSrc: function(json) {
                    $('#loading').hide();
                    $('#strawalls').show();
                    return json.data;  // Adjust this if your JSON structure is different
                }
            },
            columns: [
                { data: 'name', width: '250px', orderable: true },
                { data: 'width', width: '80px', orderable: true },
                { data: 'height', width: '80px', orderable: true  },
                {
                    data: null,
                    width: '490px',
                    orderable: false,
                    render: function(data, type, row) {
                        var strawallGuid = row.strawall_guid;
                        var url_edit = '/user/strawalls/edit/' + strawallGuid;
                        var nameUrl = row.name_url;
                        var url_view = '/strawalls/' + strawallGuid + '/' + nameUrl + '.png';
                        var url_copy = window.location.origin + '/strawalls/' + strawallGuid + '/' + nameUrl + '.png';

                        return '<button class="button_edit"  data-url="' + url_edit + '"><i class="fa-regular fa-pen-to-square"></i> Edit</button> ' +
                               '<button class="button_view"  data-redirect="' + url_view + '"><i class="fa-regular fa-eye"></i> View</button> ' +
                               '<button class="button_delete" data-guid="'+ strawallGuid +'"><i class="fa-regular fa-trash-can"></i> Delete</button> ' +
                               '<button class="button_copy" data-url="' + url_copy +'"><i class="fa-regular fa-clipboard"></i> Copy URL to clipboard</button> ';
                    }
                }
            ],
            order: [[0, 'asc']],
            searching: false, // Disable the search box
            paging: false,
            info: false, // Disable the "Showing ..." information
            autoWidth: false, // Disable automatic column width calculation
            fixedColumns: true, // Enable fixed columns
            initComplete: function(settings, json) {
                $(".button_delete").on('click', function() {
                    guid = $(this).data("guid")
                    name = $(this).data("name")
                    openModal(name, function (result) {
                        if (result) {
                            console.log("Item deleted");
                            redirectToPage('{{ url_for('api_strawalls') }}', 'POST', { "delete": guid });
                        } else {
                            console.log("Item not deleted");
                        }
                    });
                });
                $(".button_copy").on('click', function() {
                    addClipboard($(this).data("url"));
                });
                $(".button_edit").on('click', function() {
                    window.location.href = $(this).data("url");
                });
                $(".button_view").on('click', function() {
                    window.location.href = $(this).data("redirect");
                });

            }
        });

        table.draw();

    });


    function addClipboard(url) {
        if (navigator.clipboard) {
            navigator.clipboard.writeText(url).then(function() {
                console.log('URL copied to clipboard: ' + url);
                alert('URL copied to clipboard!');
            }).catch(function(err) {
                console.error('Failed to copy URL: ', err);
                alert('Failed to copy URL to clipboard.');
            });
        } else {
            // Fallback for older browsers
            var textArea = document.createElement("textarea");
            textArea.value = url;
            document.body.appendChild(textArea);
            textArea.select();
            try {
                document.execCommand('copy');
                console.log('URL copied to clipboard: ' + url);
                alert('URL copied to clipboard!');
            } catch (err) {
                console.error('Failed to copy URL: ', err);
                alert('Failed to copy URL to clipboard.');
            }
            document.body.removeChild(textArea);
        }
    }

    function openModal(itemName, callback) {
        var $modal = $('#deleteModal');
        var $itemName = $('#itemName');

        $itemName.html("<b>" + itemName + "</b>");
        $modal.show();

        // Handle Yes button click
        $('#yesBtn').off('click').on('click', function() {
            $modal.hide();
            callback(true); // Return true on Yes
        });

        // Handle No button click
        $('#noBtn').off('click').on('click', function() {
            $modal.hide();
            callback(false); // Return false on No
        });

        // Handle close button click
        $('.close').off('click').on('click', function() {
            $modal.hide();
            callback(false); // Return false on close
        });

        // Handle click outside of the modal
        $(window).off('click').on('click', function(event) {
            if (event.target === $modal[0]) {
                $modal.hide();
                callback(false); // Return false on outside click
            }
        });
    }

    function redirectToPage(url, method, data) {
        $.ajax({
            url: url,
            type: method,
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (response) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }



</script>

</body>
</html>
